<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_Projest4_DrawerCTL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9566E0321F7A051800E0D2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9566E0461F7A051900E0D2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9566E0511F7A051900E0D2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
