<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_Project5_CollectionViewAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95326D661F7B7E11002C4787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95326D7A1F7B7E11002C4787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95326D851F7B7E11002C4787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
